@charset "utf-8";
/* CSS Document */
div{
	position:absolute;
}
.stage{
	width:960px;	
	height:600px;
	position:absolute;
	top:0; left:0; right:0; bottom:0;
	margin:auto;
	overflow: hidden;
	cursor: wait;
}
.player{
	background:url("player/player.png");
	width: 44px;
	height: 21px;
	position: absolute;
	z-index: 500;
}
.move{
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 11;
	cursor:cell;
}
.up{
	background:url("move/up_0.png");
	left: 40px;
	top: 480px;
}
.down{
	background:url("move/down_0.png");
	left: 40px;
	top: 560px;
}
.left{
	background:url("move/left_0.png");
	left: 0px;
	top: 520px;
}
.right{
	background:url("move/right_0.png");
	left: 80px;
	top: 520px;
}
.midden{
	background:url("image/midden.png");
	left: 40px;
	top: 520px;
}
.mygun{
	background:url("image/mygun.png");
	position: absolute;
	width: 20px;
	height: 10px;
	animation-name: mygun;
	animation-duration: 8s;
	animation-timing-function: linear;
}
.back{
	font-size:0px;
}
.text{
	left: 700px;
	top: 200px;
}
.icon{
	position: absolute;
	width: 300px;
	height: 40px;
	background: url("image/icon.png");
	font-size: 60px;
	text-align: center;
	color: gold;
	left: 390px;
	z-index: 8;
	user-select: none;
}
.gastext{
	position: absolute;
	color: gold;
	font-size: 30px;
	top: 8px;
	left: 600px;
	z-index: 8;
	user-select: none;
}
.misstext{
	font-size: 0px;
}
.gas{
	position: absolute;
	width: 150px;
	height: 32px;
	left: 660px;
	z-index: 10;
	top: 10px;
}
.gas{
	position: absolute;
	width: 150px;
	height: 32px;
	left: 660px;
	z-index: 10;
	top: 10px;
	background:repeating-linear-gradient(red,blue);
}
.back1{
	position: absolute;
	width: 230px;
	height: 220px;
	background: url(image/back1.png);
	animation-name: back1;
	animation-duration: 5s;
	animation-timing-function: linear;
}
.back2{
	position: absolute;
	width: 320px;
	height: 318px;
	background: url(image/back2.png);
	animation-name: back2;
	animation-duration: 4s;
	animation-timing-function: linear;
}
.back3{
	position: absolute;
	width: 68px;
	height: 66px;
	background: url(image/back3.png);
	animation-name: back3;
	animation-duration: 6s;
	animation-timing-function: linear;
}
.back4{
	position: absolute;
	width: 48px;
	height: 44px;
	background: url(image/back4.png);
	animation-name: back4;
	animation-duration: 7s;
	animation-timing-function: linear;
}
.back5{
	position: absolute;
	width: 180px;
	height: 180px;
	background: url(image/back5.png);
	animation-name: back5;
	animation-duration: 5.5s;
	animation-timing-function: linear;
}
.allenemy{
	animation-name: enemy;
	animation-duration: 12s;
	animation-timing-function: linear;
}
.stop{
	position: absolute;
	width: 960px;
	height: 600px;
	background: url("image/allstop.png");
	user-select: none;
	z-index: 20;
	text-align: center;
	font-size: 80px;
	color: red;
	line-height:560px;
}
.gameover{
	position: absolute;
	width: 960px;
	height: 600px;
	user-select: none;
	z-index: 20;
	text-align: center;
	color: blue;
}
.allenemy{
	z-index: 5;
}
.enemy1{
	position: absolute;
	width: 48px;
	height: 42px;
	background: url("enemy/enemy_1.png");
}
.enemy2{
	position: absolute;
	width: 48px;
	height: 41px;
	background: url("enemy/enemy_2.png");
}
.enemy3{
	position: absolute;
	width: 48px;
	height: 41px;
	background: url("enemy/enemy_3.png");
}
.enemygun{
	z-index: 4;
	background: url("enemy/enemygun.png");
	width: 20px;
	height: 5px;
	position: absolute;
}
.indiv{
	position: relative;
	font-size: 40px;
	color:#F8FF00;
	width: 960px;
	height: 40px;
	z-index: 20;
	user-select: none;
}
.FPS{
	position: absolute;
	font-size: 20px;
	color:#E800FF;
	width: 60px;
	height: 40px;
	z-index: 100;
	left: 890px;
	top: 570px;
	user-select: none;
}
.start{
	position: absolute;
	width: 960px;
	height: 600px;
	text-align: center;
}
.button{
	position: absolute;
	width: 200px;
	height: 80px;
	font-size: 80px;
	margin-top: 260px;
	line-height: 4px;
	left:380px;
}
.stopstrat{
	z-index: 21;
	position: absolute;
	background: url("image/gamestop.png");
	width: 64px;
	height: 64px;
	left: 800px;
	top: 536px;
	cursor:pointer;
}
.clack{
	background: url("image/clock.png");
	width: 64px;
	height: 64px;
	position: absolute;
	left: 300px;
	top: 5px;
	text-align: center;
	line-height: 65px;
	color: palevioletred;
	z-index: 20;
}
#e0{
	font-size: 60px;
	position: absolute;
	left: 180px;
	width: 600px;
	top: 80px;
	background: linear-gradient(#018700,#00FF15);
	color: red;
	border-radius: 60px;
}
#e1{
	font-size: 40px;
	position: absolute;
	left: 180px;
	width: 600px;
	top: 80px;
	background: linear-gradient(#009700,#00FF15);
	color: red;
	border-radius: 30px;
	border-style: double;
	
}
.menu{
	font-size: 20px;
	position: absolute;
	background: url("image/stop.png");
	width: 960px;
	height: 600px;
	text-align: left;
}
.in{
	position: absolute;
	font-size: 30px;
	color:#C50003;
	width: 960px;
	height: 20px;
	z-index: 20;
	user-select: none;
	left: 280px;
}
.musiccon{
	position: absolute;
	background: url("image/musicopen.png");
	width: 64px;
	height: 64px;
	top: 5px;
	left: 240px;
	cursor:pointer;
}
.leftfont{
	position: absolute;
	background: url("image/leftfont.png");
	width: 138px;
	height: 57px;
	top: 543px;
	left: 162px;
	user-select: none;
	font-size: 20px;
	color:gold;
	line-height: 80px;
	text-align: right;
	cursor:pointer;
}
.rightfont{
	position: absolute;
	background: url("image/rightfont.png");
	width: 138px;
	height: 57px;
	top: 543px;
	left: 300px;
	user-select: none;
	font-size: 20px;
	color:gold;
	line-height: 80px;
	text-align: left;
	cursor: pointer;
}
#gasback{
	position: absolute;
	width: 300px;
	height: 32px;
	left: 660px;
	top: 10px;
	z-index: 9;
	background: url("gas/gasback.png");
}
#gasline{
	position: absolute;
	width: 300px;
	height: 32px;
	left: 660px;
	top: 10px;
	z-index: 11;
	background: url("gas/gasline.png");
}
.t0{
	border-radius: 30px;
	height: 60px;
	width: 400px;
	font-size: 50px;
	background: radial-gradient(green,yellow);
	color: brown;
	border-color: black;
	text-align: center;
}
.allbutton{
	position: absolute;
	border-radius: 70px;
	color: red;
	border-color: black;
	box-shadow:4px 5px 10px 2px rgba(100,100,100,100);
	background: radial-gradient(green,yellow);
    cursor:pointer;
}
#b0{
	position: absolute;
	border-radius: 70px;
	color: gold;
	border-color: black;
	box-shadow:4px 5px 10px 2px rgba(100,100,100,100);
	left: 250px;
	height: 40px;
	width: 100px;
	font-size: 20px;
}
#finish{
	position: absolute;
	border-radius: 70px;
	color:darkred;
	border-color: black;
	box-shadow:4px 5px 10px 2px rgba(100,100,100,100);
	left: 250px;
	height: 40px;
	font-size: 20px;
	top: 340px;
	background: radial-gradient(green,yellow);
	cursor: pointer;
}
.fire{
	background: url("player/fire0.png");
	width: 44px;
	height: 21px;
	position: relative;
}
/*水波紋*/
#water{
	position: absolute;
	top:43.5%;
	left:40%;
	width:190px;
	height:70px;
	background: radial-gradient(green,yellow);
	border:inset;
	border-width: 5px;
	border-color: black;
	border-radius: 40px;
	text-align:center;
	line-height:70px;
	color: red;
	font-size:80px;
    cursor:pointer;
	user-select:none;
	overflow: hidden;
}
#water:after{
	content:"";
	position: absolute;
	left: -50px;
	top: -100px;
	width: 300px;
	height: 300px;
	background: linear-gradient(#00FFFF,blue);
	border-radius: 50%;
	opacity:0;
	transition:1s;
}
#water:active:after{
	width:0px;
	height:0px;
	left:95px;
	top: 32px;
	opacity: 1;
	transition-duration: 0s;
}
#back{
	position: absolute;
	width:200px;
	height:80px;
	background: radial-gradient(green,yellow);
	border:inset;
	border-width: 5px;
	border-color: black;
	border-radius: 40px;
	text-align:center;
	line-height:60px;
	color: red;
	font-size:70px;
    cursor:pointer;
	user-select:none;
	top: 260px;
	left: 383px;
}