@charset "utf-8";
.bg{
	background:url("image/stage.jpg");
	width:8640px;	
	height:600px;
	position:absolute;
	animation-name: bm;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-play-state: paused;
}
@keyframes bm{
	0%  {left:0px;}
	100%   {left:-7680px;}
}
.gascon{
	width: 44px;
	height: 61px;
	position: absolute;
	background: url("image/gas.png");
	animation-name: gas;
	animation-duration: 9s;
	animation-timing-function: linear;
}
@keyframes gas{
	0% {top: -61px;}
	100% {top: 800px;}
}